extends /templates/layout

block content
    .container
        div(class="alert alert-danger", role="alert")
            h1 Sorry, but you are not authorized
            p you cannot get access to this page